div.chatHistory {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.chatLayout {
    height: 80vh;
    overflow-y: auto;
    margin: 0 auto;
}

div.agentIndicator a {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
}

div.agentIndicator {
    padding: 10px;
}

div.trainOfThought {
    border: 1px var(--border-color) solid;
    border-radius: 16px;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}
