div.chatMessageContainer {
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 16px;
    padding: 8px 16px 0 16px;
}

div.chatMessageWrapper {
    padding-left: 1rem;
    padding-bottom: 1rem;
    max-width: 80vw;
}
div.chatMessageWrapper p:not(:last-child) {
    margin-bottom: 16px;
}

div.khojfullHistory {
    border-width: 1px;
    padding-left: 4px;
}

div.youfullHistory {
    max-width: 100%;
}

div.chatMessageContainer.youfullHistory {
    padding-left: 0px;
}

div.you {
    background-color: hsla(var(--secondary));
    align-self: flex-end;
    border-radius: 16px;
}

div.khoj {
    background-color: transparent;
    color: hsl(var(--accent-foreground));
    align-self: flex-start;
}

div.khojChatMessage {
    padding-top: 8px;
    padding-left: 16px;
}

div.chatMessageContainer img {
    width: 50%;
}

div.chatMessageContainer h3 img {
    width: 24px;
}

div.you {
    color: hsla(var(--secondary-foreground));
}

div.author {
    font-size: 0.75rem;
    color: #808080;
    text-align: right;
}

div.chatFooter {
    display: flex;
    justify-content: space-between;
    min-height: 28px;
}

div.chatButtons {
    display: flex;
    justify-content: flex-end;
    width: min-content;
    border: var(--border-color) 1px solid;
    border-radius: 16px;
    position: relative;
    bottom: -12px;
    background-color: hsla(var(--secondary));
}

div.chatFooter button {
    cursor: pointer;
    color: hsl(var(--muted-foreground));
    border: none;
    border-radius: 16px;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

div.chatFooter button:hover {
    background-color: hsla(var(--frosted-background-color));
}

button.codeCopyButton {
    cursor: pointer;
    float: right;
    border-radius: 8px;
}

button.codeCopyButton:hover {
    color: hsla(var(--frosted-background-color));
}

div.feedbackButtons img,
button.codeCopyButton img,
button.copyButton img {
    width: 24px;
}

div.trainOfThought strong {
    font-weight: 500;
}

div.trainOfThought.primary strong {
    font-weight: 500;
    color: hsla(var(--secondary-foreground));
}

div.trainOfThought.primary p {
    color: inherit;
}

div.trainOfThoughtElement {
    display: grid;
    grid-template-columns: auto 1fr;
}

@media screen and (max-width: 768px) {
    div.youfullHistory {
        max-width: 90%;
    }
}
