div.chatMessageContainer {
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

div.chatMessageWrapper {
    padding-left: 24px;
}

div.khojfullHistory {
    border-color: var(--border-color);
    border-width: 1px;
    padding-left: 4px;
}

div.youfullHistory {
    max-width: 80%;
}

div.chatMessageContainer.youfullHistory {
    padding-left: 0px;
}

div.you {
    background-color: var(--frosted-background-color);
    align-self: flex-end;
    border-radius: 16px;
}

div.khoj {
    background-color: transparent;
    color: #000000;
    align-self: flex-start;
}

div.khojChatMessage {
    padding-top: 8px;
    padding-left: 16px;
}

div.chatMessageContainer img {
    width: 50%;
}

div.chatMessageContainer h3 img {
    width: 24px;
}

div.you .author {
    color: var(--frosted-background-color);
}

div.author {
    font-size: 0.75rem;
    color: #808080;
    text-align: right;
}

div.chatFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

div.chatButtons {
    display: flex;
    justify-content: flex-end;
    border: var(--border-color) 1px solid;
    border-radius: 16px;
    position: relative;
    bottom: -28px;
    background-color: hsla(var(--background));
}

div.chatFooter button {
    cursor: pointer;
    color: hsl(var(--muted-foreground));
    border: none;
    border-radius: 16px;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

div.chatFooter button:hover {
    background-color: var(--frosted-background-color);
}

div.chatTimestamp {
    font-size: small;
}

button.codeCopyButton {
    cursor: pointer;
    float: right;
    border-radius: 8px;
}

button.codeCopyButton:hover {
    color: var(--frosted-background-color);
}

div.feedbackButtons img,
button.codeCopyButton img,
button.copyButton img {
    width: 24px;
}

@media screen and (max-width: 768px) {
    div.youfullHistory {
        max-width: 100%;
    }

}
