div.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 100vh;
    color: hsla(var(--foreground));
}
div.contentBody {
    display: grid;
    margin: auto;
}

div.phoneInput {
    padding: 0rem;
}

:global(.dark) div.phoneInput :global(.iti__dropdown-content) {
    --iti-dropdown-bg: hsl(var(--background));
    --iti-hover-color: hsl(var(--accent));
}

div.phoneInput input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid hsla(var(--border));
    background-color: hsla(var(--background));
    border-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
    div.contentBody {
        margin-left: 0;
        margin-top: 0;
    }
}
