{% extends "base_config.html" %}
{% block content %}

<div class="page">
    <div class="section">
        <h2 class="section-title">Plugins</h2>
        <div class="section-cards">
            <div class="card">
                <div class="card-title-row">
                    <img class="card-icon" src="/static/assets/icons/github.svg" alt="Github">
                    <h3 class="card-title">
                        Github
                        {% if current_model_state.github == True %}
                            <img id="configured-icon-github" class="configured-icon" src="/static/assets/icons/confirm-icon.svg" alt="Configured">
                        {% endif %}
                    </h3>
                </div>
                <div class="card-description-row">
                <p class="card-description">Set repositories to index</p>
                </div>
                <div class="card-action-row">
                    <a class="card-button" href="/config/content_type/github">
                        {% if current_model_state.github %}
                            Update
                        {% else %}
                            Setup
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
                    </a>
                </div>
                {% if current_model_state.github %}
                    <div id="clear-github" class="card-action-row">
                        <button class="card-button" onclick="clearContentType('github')">
                            Disable
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="card">
                <div class="card-title-row">
                    <img class="card-icon" src="/static/assets/icons/notion.svg" alt="Notion">
                    <h3 class="card-title">
                        Notion
                        {% if current_model_state.notion == True %}
                            <img id="configured-icon-notion" class="configured-icon" src="/static/assets/icons/confirm-icon.svg" alt="Configured">
                        {% endif %}
                    </h3>
                </div>
                <div class="card-description-row">
                    <p class="card-description">Configure your settings from Notion</p>
                </div>
                <div class="card-action-row">
                    <a class="card-button" href="/config/content_type/notion">
                        {% if current_model_state.content %}
                            Update
                        {% else %}
                            Setup
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
                    </a>
                </div>
                {% if current_model_state.notion %}
                    <div id="clear-notion" class="card-action-row">
                        <button class="card-button" onclick="clearContentType('notion')">
                            Disable
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="section-title">Features</h2>
        <div id="features-hint-text"></div>
        <div class="section-cards">
            <div class="card">
                <div class="card-title-row">
                    <img class="card-icon" src="/static/assets/icons/chat.svg" alt="Chat">
                    <h3 class="card-title">
                        Chat Model
                    </h3>
                </div>
                <div class="card-description-row">
                    <select id="chat-models">
                        {% for option in conversation_options %}
                            <option value="{{ option.id }}" {% if option.id == selected_conversation_config %}selected{% endif %}>{{ option.chat_model }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-action-row">
                    <button id="save-model" class="card-button happy" onclick="updateChatModel()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="section-title">Clients</h2>
        <div class="api-settings">
            <div class="card-title-row">
                <img class="card-icon" src="/static/assets/icons/key.svg" alt="API Key">
                <h3 class="card-title">API Keys</h3>
            </div>
            <div class="card-description-row">
                <p id="api-settings-card-description" class="card-description">Manage access from your client apps to Khoj</p>
            </div>
            <table id="api-settings-keys-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Key</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody id="api-key-list"></tbody>
            </table>
            <div class="card-action-row">
                <button class="card-button happy" id="generate-api-key" onclick="generateAPIKey()">
                    Generate API Key
                </button>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="section-title">Manage Data</h2>
        <div class="section-manage-files">
            <div id="delete-all-files" class="delete-all=files">
                <button id="delete-all-files" type="submit" title="Delete all indexed files">🗑️ Remove All</button>
            </div>
            <div class="indexed-files">
            </div>
        </div>
    </div>
    <div class="section general-settings">
        <div id="results-count" title="Number of items to show in search and use for chat response">
            <label for="results-count-slider">Results Count: <span id="results-count-value">5</span></label>
            <input type="range" id="results-count-slider" name="results-count-slider" min="1" max="10" step="1" value="5">
        </div>
        <div id="status" style="display: none;"></div>
    </div>
    <div class="section finalize-actions general-settings">
        <div class="section-cards">
            <div class="finalize-buttons">
                <button id="configure" type="submit" title="Update index with the latest changes">⚙️ Configure</button>
            </div>
            <div class="finalize-buttons">
                <button id="reinitialize" type="submit" title="Regenerate index from scratch">🔄 Reinitialize</button>
            </div>
        </div>
    </div>
</div>
<script>

    function updateChatModel() {
        const chatModel = document.getElementById("chat-models").value;
        const saveModelButton = document.getElementById("save-model");
        saveModelButton.disabled = true;
        saveModelButton.innerHTML = "Saving...";

        fetch('/api/config/data/conversation/model?id=' + chatModel, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "ok") {
                saveModelButton.innerHTML = "Save";
                saveModelButton.disabled = false;
            } else {
                saveModelButton.innerHTML = "Error";
                saveModelButton.disabled = false;
            }
        })
    };

    function clearContentType(content_type) {
        fetch('/api/config/data/content_type/' + content_type, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "ok") {
                var contentTypeClearButton = document.getElementById("clear-" + content_type);
                contentTypeClearButton.style.display = "none";

                var configuredIcon = document.getElementById("configured-icon-" + content_type);
                if (configuredIcon) {
                    configuredIcon.style.display = "none";
                }

                var misconfiguredIcon = document.getElementById("misconfigured-icon-" + content_type);
                if (misconfiguredIcon) {
                    misconfiguredIcon.style.display = "none";
                }
            }
        })
    };

    var configure = document.getElementById("configure");
    configure.addEventListener("click", function(event) {
        event.preventDefault();
        updateIndex(
            force=false,
            successText="Configured successfully!",
            errorText="Unable to configure. Raise issue on Khoj <a href='https://github.com/khoj-ai/khoj/issues'>Github</a> or <a href='https://discord.gg/BDgyabRM6e'>Discord</a>.",
            button=configure,
            loadingText="Configuring...",
            emoji="⚙️");
    });

    var reinitialize = document.getElementById("reinitialize");
    reinitialize.addEventListener("click", function(event) {
        event.preventDefault();
        updateIndex(
            force=true,
            successText="Reinitialized successfully!",
            errorText="Unable to reinitialize. Raise issue on Khoj <a href='https://github.com/khoj-ai/khoj/issues'>Github</a> or <a href='https://discord.gg/BDgyabRM6e'>Discord</a>.",
            button=reinitialize,
            loadingText="Reinitializing...",
            emoji="🔄");
    });

    function updateIndex(force, successText, errorText, button, loadingText, emoji) {
        const csrfToken = document.cookie.split('; ').find(row => row.startsWith('csrftoken'))?.split('=')[1];
        button.disabled = true;
        button.innerHTML = emoji + " " + loadingText;
        fetch('/api/update?&client=web&force=' + force, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if (data.detail != null) {
                throw new Error(data.detail);
            }
            document.getElementById("status").innerHTML = emoji + " " + successText;
            document.getElementById("status").style.display = "block";
            button.disabled = false;
            button.innerHTML = '✅ Done!';
        })
        .catch((error) => {
            console.error('Error:', error);
            document.getElementById("status").innerHTML = emoji + " " + errorText
            document.getElementById("status").style.display = "block";
            button.disabled = false;
            button.innerHTML = '⚠️ Unsuccessful';
        });
    }

    // Setup the results count slider
    const resultsCountSlider = document.getElementById('results-count-slider');
    const resultsCountValue = document.getElementById('results-count-value');

    // Set the initial value of the slider
    resultsCountValue.textContent = resultsCountSlider.value;

    // Store the slider value in localStorage when it changes
    resultsCountSlider.addEventListener('input', () => {
        resultsCountValue.textContent = resultsCountSlider.value;
        localStorage.setItem('khojResultsCount', resultsCountSlider.value);
    });

    // Get the slider value from localStorage on page load
    const storedResultsCount = localStorage.getItem('khojResultsCount');
    if (storedResultsCount) {
        resultsCountSlider.value = storedResultsCount;
        resultsCountValue.textContent = storedResultsCount;
    }

    function generateAPIKey() {
        const apiKeyList = document.getElementById("api-key-list");
        fetch('/auth/token', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(tokenObj => {
            apiKeyList.innerHTML += generateTokenRow(tokenObj);
        });
    }

    function copyAPIKey(token) {
        // Copy API key to clipboard
        navigator.clipboard.writeText(token);
        // Flash the API key copied message
        const copyApiKeyButton = document.getElementById(`api-key-${token}`);
        original_html = copyApiKeyButton.innerHTML
        setTimeout(function() {
            copyApiKeyButton.innerHTML = "✅ Copied!";
            setTimeout(function() {
                copyApiKeyButton.innerHTML = original_html;
            }, 1000);
        }, 100);
    }

    function deleteAPIKey(token) {
        const apiKeyList = document.getElementById("api-key-list");
        fetch(`/auth/token?token=${token}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                const apiKeyItem = document.getElementById(`api-key-item-${token}`);
                apiKeyList.removeChild(apiKeyItem);
            }
        });
    }

    function generateTokenRow(tokenObj) {
        let token = tokenObj.token;
        let tokenName = tokenObj.name;
        let truncatedToken = token.slice(0, 4) + "..." + token.slice(-4);
        let tokenId = `${tokenName}-${truncatedToken}`;
        return `
            <tr id="api-key-item-${token}">
                <td><b>${tokenName}</b></td>
                <td id="api-key-${token}">${truncatedToken}</td>
                <td>
                    <img onclick="copyAPIKey('${token}')" class="configured-icon api-key-action enabled" src="/static/assets/icons/copy-solid.svg" alt="Copy API Key" title="Copy API Key">
                    <img onclick="deleteAPIKey('${token}')" class="configured-icon api-key-action enabled" src="/static/assets/icons/trash-solid.svg" alt="Delete API Key" title="Delete API Key">
                </td>
            </tr>
        `;

    }

    function listApiKeys() {
        const apiKeyList = document.getElementById("api-key-list");
        fetch('/auth/token')
            .then(response => response.json())
            .then(tokens => {
                apiKeyList.innerHTML = tokens.map(generateTokenRow).join("");
            });
    }

    // List user's API keys on page load
    listApiKeys();

    function removeFile(path) {
        fetch('/api/config/data/file?filename=' + path, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "ok") {
                getAllFilenames();
            }
        })
    }

    // Get all currently indexed files
    function getAllFilenames() {
        fetch('/api/config/data/all')
            .then(response => response.json())
            .then(data => {
                var indexedFiles = document.getElementsByClassName("indexed-files")[0];
                indexedFiles.innerHTML = "";

                if (data.length == 0) {
                    document.getElementById("delete-all-files").style.display = "none";
                    indexedFiles.innerHTML = "<div>Use the <a href='https://download.khoj.dev'>Khoj Desktop client</a> to index files.</div>";
                } else {
                    document.getElementById("delete-all-files").style.display = "block";
                }

                for (var filename of data) {
                    let fileElement = document.createElement("div");
                    fileElement.classList.add("file-element");

                    let fileNameElement = document.createElement("div");
                    fileNameElement.classList.add("content-name");
                    fileNameElement.innerHTML = filename;
                    fileElement.appendChild(fileNameElement);

                    let buttonContainer = document.createElement("div");
                    buttonContainer.classList.add("remove-button-container");
                    let removeFileButton = document.createElement("button");
                    removeFileButton.classList.add("remove-file-button");
                    removeFileButton.innerHTML = "🗑️";
                    removeFileButton.addEventListener("click", ((filename) => {
                        return () => {
                            removeFile(filename);
                        };
                    })(filename));
                    buttonContainer.appendChild(removeFileButton);
                    fileElement.appendChild(buttonContainer);
                    indexedFiles.appendChild(fileElement);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    // Get all currently indexed files on page load
    getAllFilenames();

    let deleteAllFilesButton = document.getElementById("delete-all-files");
    deleteAllFilesButton.addEventListener("click", function(event) {
        event.preventDefault();
        fetch('/api/config/data/all', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "ok") {
                getAllFilenames();
            }
        })
    });

</script>
{% endblock %}
