
.card {
    padding: 0.5rem;
    margin: 0.05rem;
    border-radius: 0.5rem;
}

.title {
    font-size: 1.0rem;
}

.text {
    padding-top: 0.2rem;
    font-size: 0.9rem;
    white-space: wrap;
    padding-right: 4px;
    color: black;
}
