/* Amber Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #f9f5de;
    --primary-hover: #fee285;
    --primary-focus: rgba(255, 179, 0, 0.125);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #f5f4f3;
    --main-text-color: #475569;
    --water: #44b9da;
    --leaf: #7b990a;
    --flower: #d1684e;
}

/* Amber Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #f9f5de;
        --primary-hover: #fee285;
        --primary-focus: rgba(255, 179, 0, 0.25);
        --primary-inverse: rgba(0, 0, 0, 0.75);
        --background-color: #f5f4f3;
        --main-text-color: #475569;
        --water: #44b9da;
        --leaf: #7b990a;
        --flower: #d1684e;
    }
}
/* Amber Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #fee285;
    --primary-hover: #fcc50b;
    --primary-focus: rgba(255, 179, 0, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #f5f4f3;
    --main-text-color: #475569;
    --water: #44b9da;
    --leaf: #7b990a;
    --flower: #d1684e;
}
/* Amber (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

.khoj-configure {
    display: grid;
    grid-template-columns: 1fr;
    font-family: roboto, karma, segoe ui, sans-serif;
    font-weight: 300;
}

.khoj-header {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    padding: 16px 0;
    margin: 0 0 16px 0;
}

nav.khoj-nav {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
    justify-self: right;
}

a.khoj-nav {
    display: flex;
    align-items: center;
}

a.khoj-logo {
    justify-self: left;
}

.khoj-nav a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: small;
    font-weight: normal;
    padding: 0 4px;
    border-radius: 4px;
    justify-self: center;
    margin: 0;
}
.khoj-nav a:hover {
    background-color: var(--primary-hover);
    color: var(--main-text-color);
}
a.khoj-nav-selected {
    background-color: var(--primary);
}
img.khoj-logo {
    width: min(60vw, 111px);
    max-width: 100%;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
    div.khoj-header {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        padding: 16px 10px;
        margin: 0 0 16px 0;
    }

    nav.khoj-nav {
        grid-gap: 0px;
        justify-content: space-between;
    }
}
