div.main {
    height: 100vh;
    color: black;
}

.suggestions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
}

div.inputBox {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

input.inputBox {
    border: none;
    outline: none;
    background-color: transparent;
}

input.inputBox:focus {
    border: none;
    outline: none;
    background-color: transparent;
}

div.chatBodyFull {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

button.inputBox {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: linear-gradient(var(--calm-green), var(--calm-blue));
}

div.chatBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.inputBox {
    color: black;
}

div.chatLayout {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

div.chatBox {
    display: grid;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}

div.titleBar {
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 768px) {
    div.chatBody {
        grid-template-columns: 0fr 1fr;
    }

    div.chatBox {
        padding: 0;
    }
}
