input.factVerification {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: large;
}

div.factCheckerContainer {
    width: 75vw;
    margin: auto;
}

input.factVerification:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.responseText {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

div.response {
    margin-bottom: 12px;
}

a.titleLink {
    color: #333;
    font-weight: bold;
}

a.subLinks {
    color: #333;
    text-decoration: none;
    font-weight: small;
    border-radius: 4px;
    font-size: small;
}

div.subLinks {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

div.reference {
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
}

footer.footer {
    width: 100%;
    background: transparent;
    text-align: left;
}

div.reportActions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8px;
}

button.factCheckButton {
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25rem;
}

button.factCheckButton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.spinner {
    margin: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

div.inputFields {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8px;
}


/* Loading Animation */
div.dot1,
div.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

div.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@media screen and (max-width: 768px) {
    div.factCheckerContainer {
        width: 95vw;
    }
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
