menu.menu a {
    text-decoration: none;
    font-size: medium;
    font-weight: normal;
    padding: 0 4px;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin: 0;
    align-items: center;
    gap: 4px;
}

a.selected {
    background-color: hsl(var(--accent));
}

div.titleBar {
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    align-items: start;
}

div.titleBar menu {
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
}

div.settingsMenuProfile img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0;
}

div.settingsMenu {
    padding: 0 4px;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin: 0;
    align-items: center;
}

div.settingsMenuOptions {
    display: block;
    grid-auto-flow: row;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 64px;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    menu.menu span {
        display: none;
    }

    div.settingsMenuOptions {
        right: 4px;
    }

    div.titleBar {
        padding: 4px;
    }
}
